.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #07beb8;
  opacity: 0.96;
  z-index: 10;
}

.hidden {
  display: none;
}

.modal h2 {
  margin: 0.5em 0;
}

.modal h2 span {
  color: rgba(79, 81, 101, 1);
  font-size: 1.1em;
  font-weight: bolder;
}
