/* :root {
  --light-blue100: #c4fff9;
  --light-blue200: #9ceaef;
  --light-blue400: #68d8d6;
  --light-blue500: #3dccc7;
  --light-blue600: #07beb8;

  --gray200: #444;
  --gray100: #646165;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgba(79, 81, 101, 1);
  font-family: "Raleway", sans-serif;
}

.main-grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.level-container {
  border: 2px solid #c4fff9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  background-color: rgba(7, 190, 184, 0.2);
  max-width: 70%;
  animation: fadeIn ease-in-out 0.25s;
}

.level-container > * {
  margin: 1em;
}

@media screen and (max-width: 950px) {
  .level-container {
    flex-direction: column;
    margin-top: 6em;
    padding: 1em 2em;
  }

  .level-container .container {
    order: -1;
  }
}

@media screen and (max-width: 412px) {
  .level-container {
    margin-top: 6em;
    padding: 1em 2em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
