:root {
    --light-blue100: #C4FFF9;
    --light-blue200: #9CEAEF;
    --light-blue400: #68D8D6;
    --light-blue500: #3DCCC7;
    --light-blue600: #07BEB8;

    --gray200: #444;
    --gray100: #646165;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(79, 81, 101, 1);
    /* color: var(--gray200); */
}

.App {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

header {
    background: rgba(7, 190, 184, .85);
    padding: 1em 0;
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100vw;
}

.logo {
    margin: 0;
    color: #C4FFF9;
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}