.node {
  background-color: rgba(79, 81, 101, 1);
  box-sizing: border-box;
  border: solid 1px #c4fff9;
  cursor: pointer;
}

.node-end {
  background-color: #9dc6fb;
  position: relative;
}

.node-wall {
  background-color: rgb(51, 51, 51);
}

.node-current {
  position: relative;
}

.node-visited {
  background-color: #3dccc7;
}

.node-current::before,
.node-end::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 1px solid black;
}

.node-current::before {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  background-color: #9dc6fb;
}

.node-end::before {
  background-color: black;
}

.node-broken {
  background-color: black;
}

.node-visited {
  animation-name: visited;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.node-finished {
  background-color: #9dc6fb;
}

@keyframes visited {
  0% {
    transform: scale(0.3);
    transform: rotateZ(10deg);
    background-color: rgba(0, 0, 66, 0.75);
  }

  50% {
    transform: rotateZ(-10deg);
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.1);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@media screen and (max-width: 900px) {
  .node-current:before,
  .node-end:before {
    height: 1.5em;
    width: 1.5em;
  }
}
@media screen and (max-width: 700px) {
  .node-current:before,
  .node-end:before {
    height: 1.1em;
    width: 1.1em;
  }
}
@media screen and (max-width: 480px) {
  .node-current:before,
  .node-end:before {
    height: 0.9em;
    width: 0.9em;
  }
}
@media screen and (max-width: 400px) {
  .node-current:before,
  .node-end:before {
    height: 0.75em;
    width: 0.75em;
  }
}
