.create {
  border: 2px solid #c4fff9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  background-color: rgba(7, 190, 184, 0.2);
  max-width: 70%;
  animation: fadeIn ease-in-out 0.25s;
}

.create > * {
  margin: 1em;
}

@media screen and (max-width: 950px) {
  .create {
    flex-direction: column;
    margin-top: 6em;
    padding: 1em 2em;
  }

  .create .container {
    order: -1;
  }
}

@media screen and (max-width: 412px) {
  .create {
    margin-top: 6em;
    padding: 1em 2em;
  }
}
