button {
  width: 80px;
}

.home {
  border: 2px solid #c4fff9;
  padding: 1em 1em 20px 1em;
  background-color: rgba(7, 190, 184, 0.2);
  animation: fadeIn ease-in-out 0.25s;
}

.level-info > * {
  margin: 0.5em;
}

.level-info {
  min-width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #c4fff9;
  padding-bottom: 0.25rem;
}

.level-info h2,
.loading {
  margin: 0;
  font-family: "Coda", cursive;
  color: #c4fff9;
}

.level-info h2,
.level-info h3 {
  align-self: center;
}
