button {
  width: 80px;
}

.home {
  border: 2px solid #c4fff9;
  width: fit-content;
  padding: 1em 1em 20px 1em;
  background-color: rgba(7, 190, 184, 0.2);
  animation: fadeIn ease-in-out 0.25s;
}

.level-info > * {
  margin: 0.5em;
}

.level-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #c4fff9;
  padding-bottom: 0.25rem;
}

.level-info h2,
.loading {
  margin: 0;
  font-family: "Coda", cursive;
  color: #c4fff9;
}

.level-info h2,
.level-info h3 {
  align-self: center;
}

/* @media screen and (max-width: 800px) { */

@media screen and (max-width: 600px) {
  .level-info {
    flex-direction: column;
    align-items: center;
  }

  .level-info h3 {
    font-size: 80%;
  }

  .level-info button {
    order: 4;
  }

  .level-info h2 {
    text-align: center;
  }
}
