.level-container {
  border: 2px solid #c4fff9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  background-color: rgba(7, 190, 184, 0.2);
  min-width: 70%;
  min-height: fit-content;
  animation: fadeIn ease-in-out 0.25s;
}

.level-container > * {
  margin: 1em;
}

.level-container h5 {
  margin: 0.5em 0;
}

.list a {
  text-decoration: none;
  font-size: 1.3em;
  color: #c4fff9;
}

@media screen and (max-width: 950px) {
  .level-container {
    flex-wrap: wrap;
    margin-top: 6em;
    padding: 1em 2em;
  }

  .level-container .container {
    order: -1;
  }
}

@media screen and (max-width: 412px) {
  .level-container {
    margin-top: 6em;
    padding: 1em 2em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
