/* .level-container {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  height: 90%;
  width: 60%;
  color: #c4fff9;
  background: #646165;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.card {
  border: 1px solid white;
  margin: 1em;
  padding: 0.25em;
}

.level-container a {
  text-decoration: none;
  color: #c4fff9;
}

.card h6 {
  margin: 1em;
} */

.level-container a {
  text-decoration: none;
  font-size: 1.3em;
  color: #c4fff9;
}

.level-container h5 {
  margin: 0.5em 0;
}
