.container {
  display: grid;
  width: 50vw;
  margin: 0 auto;
  justify-content: center;
}

.container div {
  width: 5em;
  height: 5em;
  border: solid 1px #c4fff9;
}

.node {
  background-color: rgba(79, 81, 101, 1);
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: blue;
}
