.container {
  display: grid;
  width: 50vw;
  margin: 0 auto;
  justify-content: center;
}

.container div {
  width: 5em;
  height: 5em;
  border: solid 1px #c4fff9;
}

.container:focus {
  outline: none;
}

.node {
  background-color: rgba(79, 81, 101, 1);
}

.node-start {
  background-color: green;
  position: relative;
}

/* .node-start::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  height: 2em;
  width: 2em;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
} */

.node-end {
  background-color: red;
  position: relative;
}

/* .node-end::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  height: 2em;
  width: 2em;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
} */

.node-wall {
  background-color: blue;
}

.node-current {
  background-color: green;
}

.node-visited {
  background-color: turquoise;
}
